body {
    background-color: tomato;
    color: whitesmoke;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color: #337ab7;
    border-style: none;
}

input {
    height: 40px;
}