<style>body {background-color: #04a6eb;
    color:#fdffff}
    body{width: 500px}
    body{margin-right:auto}
    body{margin-left:auto};
    button{padding:5px 20px;
        background-color:#337ab7;
        color:#fdffff;
        border-color: #2e6da4;
        border-style:none;}
        input{height:20px;}</style>
